<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You Lost :(</h1>
    <h2>The word was <%= @new_hangman.given_word%></h2>
    <a href="/">HOME</a>
  </body>
</html>
