<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>View User History!</h2>
    <form class="" action="history" method="post">
      <input type="text" name="user_name" value="Enter Your User Name!">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
