<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= view_stats.gsub(/\n/, '<br/>')%>
    <form class="" action="/" method="get">
      <input type="Submit" name="" value="Click here to continue!">
    </form>
  </body>
</html>
